Source: pmemkv
Priority: optional
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: cmake,
               debhelper-compat (= 13),
               gdb,
               libgtest-dev,
               libmemkind-dev (>= 1.10~),
               libpmemobj-cpp-dev (>= 1.13~),
               libpmemobj-dev (>= 1.9.1~),
               libtbb-dev,
               libunwind-dev [!riscv64],
               pandoc,
               pkg-config,
               pmdk-tools,
               rapidjson-dev,
               valgrind [!riscv64],
Standards-Version: 4.6.0
Rules-Requires-Root: no
Section: libs
Homepage: https://github.com/pmem/pmemkv
Vcs-Browser: https://github.com/kilobyte/pmemkv/tree/debian
Vcs-Git: https://github.com/kilobyte/pmemkv -b debian

Package: libpmemkv-dev
Section: libdevel
Architecture: amd64 arm64 ppc64el riscv64
Multi-Arch: same
Depends: libpmemkv1 (= ${binary:Version}), libpmemobj-cpp-dev (>= 1.13~), ${misc:Depends}
Description: key:value data store for persistent memory
 Pmemkv is a family of key:value stores, developed with persistent memory
 in mind -- yet rather than being tied to a single backing implementation,
 it presents a common interface to a number of engines, both provided by
 pmemkv itself and external.
 .
 This package contains the development headers.

Package: libpmemkv1
Architecture: amd64 arm64 ppc64el riscv64
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: key:value data store for persistent memory
 Pmemkv is a family of key:value stores, developed with persistent memory
 in mind -- yet rather than being tied to a single backing implementation,
 it presents a common interface to a number of engines, both provided by
 pmemkv itself and external.
 .
 This package contains the runtime library.
